#忽略所有target目录
target/
#忽略所有.idea目录
.idea/
#忽略所有.iml .DS_store文件
*.iml
*.DS_Store
#忽略所有 spark-warehouse 目录
spark-warehouse/
#忽略所有 奇怪 目录
dependency-reduced-pom.xml

## git rm -r --cached .
## git add .
## git commit -m 'update .gitignore'

